body
{
    margin: 0;
    padding: 0;
    background-color:#2E8BC0;
    font-family: 'sans-serif';
}
.login{
        width: 382px;
        overflow: hidden;
        margin: auto;
        margin: 20 0 0 450px;
        padding: 80px;
        background: #145DA0;
        border-radius: 15px ;

}
#service{
	width: 400px;
	height: 100px;
	border: 5px;
	border-radius: 17px;
	padding-left: 7px;
	background-color: #B1D4E0;
	color: #0C2D48;
	font-weight: bold;
	font-size: 20px;
}
h1{
    text-align: center;
    color: #0C2D48;
    padding: 20px;
}
label{
    color: #B1D4E0;
    font-size: 17px;
}
#Uname{
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 3px;
    padding-left: 8px;
	align-self: center;
}
#Pass{
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 3px;
    padding-left: 8px;

}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: white;
  color: black;
  text-align: center;
  padding-bottom: 10px;
  padding-top: 10px;
}
#log{
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 17px;
    padding-left: 7px;
    color: blue;
		background-color: #B1D4E0;
		color: #0C2D48;
		font-weight: bold;


}
span{
    color: white;
    font-size: 17px;
}

.button {
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #04AA6D;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}
.button:hover {background-color: #3e8e41}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

/* CSS FOR ACCOUNTS PAYABLE */
.body-accounts-payable {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.welcome-accounts-payable{
    text-align: center;
    color: #fff;
    padding: 20px;
    margin: 0px;
}

.welcome-accounts-payable h1{
    margin: 50px 0px;
}

.accounts-to-be-paid{
    margin: 50px 0px;
}

.payable{
    text-align: center;
    margin: 50px 0px;
    background-color: #B1D4E0;
    font-weight: bold;
    border-radius: 25px;
    border: 2px solid #2E8BC0;
    padding: 20px;
    width: 100%;
    height: 150px;
    border-style: outset;
}

.current-balance{
    font-size: larger;
    text-align: center;
    margin: 50px 0px;
    background-color: #B1D4E0;
    font-weight: bold;
    border-radius: 25px;
    border: 2px solid #2E8BC0;
    padding: 20px;
    width: 100%;
    height: 150px;
    border-style: outset;
}

.button-add-account{
    /* position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin: 5%; */
}

/* END OF CSS FOR ACCOUNTS PAYABLE */
